/* As hex codes */

:root {
  --primary0: #2C1478;
  --primary1: #543E9C;
  --primary2: #3C2292;
  --primary3: #1F0A64;
  --primary4: #15054A;
  --complement0: #AF930B;
  --complement1: #E3C848;
  --complement2: #D4B41C;
  --complement3: #917800;
  --complement4: #6B5900;
  --white: #fff;
  --grey: #555;
  --lightgrey: #aaa;
  --black: #000;
  --font-family: Arial;
}

html {
	background-color: var(--primary4);
}

nav {
	color: var(--complement4);
	font-family: var(--font-family);
	font-size: max(4vmin, 18px);
	font-style: normal;
	text-align: justify;
	padding: 16px;
	text-align: center;
	margin: 16px;
}


a {
	color: var(--complement0);
	font-family: var(--font-family);
	font-size: max(1.3vmin, 12px);
	font-weight: normal;
	margin: auto;
	width: 50%;
	word-wrap: break-word; 
}

a:visited {
	color: var(--lightgrey);
	text-decoration: line-through; 
}

a:visited:hover {
	color: var(--white);
	text-decoration: line-through; 
}

a:hover {
     color: var(--complement1);
     cursor: pointer;  
}

#top {
	color: var(--complement0);
	font-family: var(--font-family);
	font-size: max(2vmin, 20px);
	font-style: normal;
	text-align: justify;
	padding: 16px;
	text-align: center;
	margin: 16px;
}

#top a {
	font-size: max(2vmin, 20px);;
}

body {
	color: var(--black);
	font-family: var(--font-family);
	font-size: max(1.3vmin, 12px);
	font-weight: bolder;
	font-style: normal;
	text-align: justify;
	margin: auto;
}

.media {
	margin: auto;
	width: 80%;
}

.section {
	font-family: var(--font-family);
	background-color: var(--white);
	margin: 2vmin;
	padding: 2vmin;
}

.section_title {
	color: var(--primary4);
	font-size: max(2vmin, 18px);
	font-style: normal;
	text-align: center;
	font-weight: bold;
	/*border: min(2px, 4vmin) solid var(--primary4);*/
	border-spacing: 16px;
	padding: 2vmin;
}

.section_text {
	color: var(--primary4);
    font-size: max(1.3vmin, 12px);
	margin: max(4vmin, 8px) 0px;
	border: min(2px, 4vmin) solid var(--primary4);
	border-spacing: 16px;
	padding: 2vmin;
}

.need {
	font-family: var(--font-family);
	background-color: var(--white);
	border: min(2px, 4vmin) solid var(--complement4);
	padding: 2vmin;
	margin: 2vmin 0vmin;
}

.need_title.main {
	color: var(--complement4);
	font-size: max(1.3vmin, 12px);
	font-style: normal;
	text-align: left;
	font-weight: bold;
	border-spacing: 16px;
}

.need_title {
	color: var(--complement4);
	font-size: max(1.3vmin, 12px);
	font-style: normal;
	font-weight: bold;
	text-align: left;
	font-weight: 600;
	border-spacing: 16px;
}

.need_value.main {
	color: var(--complement4);
	font-size: max(1.3vmin, 12px);
	font-style: normal;
	font-weight: bold;
	text-align: justify;
	border-spacing: 16px;
}

.need_value {
	color: var(--complement4);
	font-size: max(1.3vmin, 12px);
	font-style: normal;
	text-align: justify;
	border-spacing: 16px;
}

hr {
	border: 0px;
}

iframe {
	width: min(60vw, 427px); /* 480p */
    height: min(33.75vw, 240px); /* 16:9 */
	margin: auto;
}

.media {
	display: block;
	margin: auto;
}

img {
	width: 80%;
}

.subsection {
	font-family: var(--font-family);
	margin: 2vmin 0vmin;
	border: min(2px, 4vmin) solid var(--complement4);
	padding: 2vmin;
}

.subsection_title {
	color: var(--complement4);
	font-size: max(1.3vmin, 12px);
	font-style: normal;
	text-align: justify;
}

.subsection_text {
	color: var(--complement4);
	font-size: max(1.3vmin, 12px);
	font-style: normal;
	text-align: justify;
	border-spacing: 16px;
}

#Referencias {
	color: var(--primary4);
	font-size: max(1.3vmin, 12px);
	font-style: normal;
	text-align: left;
	padding: 2vmin;
}

#Referencias a {
	font-size: max(1.3vmin, 12px);
	font-weight: bold;
}

#Referencias a:visited {
	color: var(--primary1);
}

#Referencias a:visited:hover {
	color: var(--lightgrey);
}

ol {
	padding: 6vmin;
}

li {
	padding: 4px 0px;
}
