/* https://developer.apple.com/design/human-interface-guidelines/ios/visual-design/color/ */
:root {
	--darkBlue: rgb(0, 54, 221); /* systemBlue */
	--darkGreen: rgb(36, 138, 61); /* systemGreen */
	--darkIndigo: rgb(54, 52, 163); /* systemIndigo */
	--darkOrange: rgb(201, 52, 0); /* systemOrange */
	--darkYellow: rgb(178, 80, 0); /* systemYellow */
	--lightBlue: rgb(64, 156, 255); /* systemBlue */
	--lightGreen: rgb(48, 219, 91); /* systemGreen */
	--lightIndigo: rgb(125, 122, 255); /* systemIndigo */
	--lightOrange: rgb(255, 179, 64); /* systemOrange */
	--lightYellow: rgb(255, 212, 38); /* systemYellow */
	--colorgrey1: rgb(108, 108, 112);
	--colorgrey2: rgb(142, 142, 147);
	--colorgrey3: rgb(174, 174, 178);
	--colorgrey4: rgb(235, 235, 240);
	--colorblack: rgb(36, 36, 38);
	
	--font-family: -apple-system, BlinkMacSystemFont, sans-serif;
	--smallest: max(1.3vmin, 12px);
	--small: max(1.5vmin, 16px);
	--medium: max(2vmin, 20px);
	--big: max(2.5vmin, 24px);
	--biggest: max(3vmin, 28px);
}

html {
	background-color: var(--colorgrey1);
}

a {
	color: var(--darkOrange);
	font-family: var(--font-family);
	font-weight: bold;
	margin: auto;
	word-wrap: break-word; /* Removes long word overflow */
}z

a:hover {
	color: var(--lightOrange);
}

a:visited {
	color: var(--colorgrey1);
}

a:visited:hover {
	color: var(--colorgrey4);
}

#top {
	background-color: rgb(235, 235, 240);
	text-align: center;
	font-family: var(--font-family);
	font-size: var(--biggest);
	padding: max(2vmin, 8px);
}

body {
	background-color: rgb(235, 235, 240);
	color: #000000;
	font-family: var(--font-family);
	text-align: justify;
	padding: max(2vmin, 8px);
	margin: auto;
}

hr {
	border: 2px solid var(--colorgrey1);
	margin: 8px 0px;
}

iframe {
	width: min(60vw, 854px); /* 480p */ 
    height: min(33.75vw, 480px); /* 16:9 */
	margin: auto;
}

.media {
	display: block;
	margin: auto;
}

.section {
	font-family: var(--font-family);
	background-color: #ffffff;
	margin: min(2vmin, 8px);
	padding: min(2vmin, 8px);
}

.section_title {
	color: var(--color1);
    font-size: var(--medium);
	margin: 16px 0px;
	font-weight: 600;
}

.section_text {
	color: var(--colorblack);
    font-size: var(--smallest);
	margin: 8px 0px;
	font-weight: 600;
}

.need {
	font-family: var(--font-family);
	margin: auto;
	font-weight: 600;
	background-color: #ffffff;
	margin: 5% 0%;
}

.need_title.main {
	margin: 16px 0px;
	color: var(--color1);
	font-size: var(--medium);
}

.need_title {
	color: var(--color2);
	font-size: var(--small);
}

.need_value.main {
	color: var(--colorblack);
}

.need_value {
	color: var(--colorblack);
	font-size: var(--smallest);
}

.subsection {
	margin: 8px 0px;
}

.subsection_title {
	color: var(--color2);
	font-size: var(--small);
}

.subsection_text {
	color: var(--colorblack);
	font-size: var(--smallest);
	font-weight: 600;
}

#Referencias {
	color: var(--coloblack);
	font-size: var(--smallest);
	font-family: var(--font-family);
	font-weight: 600;
}
/* https://material.io/design/color/dark-theme.html#properties */
