/* https://developer.apple.com/design/human-interface-guidelines/ios/visual-design/color/ */
:root {
	--lightBlue: rgb(0, 54, 221); /* systemBlue */
	--lightGreen: rgb(36, 138, 61); /* systemGreen */
	--lightIndigo: rgb(54, 52, 163); /* systemIndigo */
	--lightRed: rgb(215, 0, 21); /* systemRed */
	--lightYellow:  rgb(255, 212, 38);/* systemYellow */
	--darkBlue: rgb(64, 156, 255); /* systemBlue */
	--darkGreen: rgb(48, 219, 91); /* systemGreen */
	--darkIndigo: rgb(125, 122, 255); /* systemIndigo */
	--darkRed: rgb(255, 105, 97); /* systemRed */
	--darkYellow: rgb(178, 80, 0); /* systemYellow */
	--colorgrey1: rgb(108, 108, 112);
	--colorgrey2: rgb(142, 142, 147);
	--colorgrey3: rgb(174, 174, 178);
	--colorgrey4: rgb(235, 235, 240);
	--colorBlack: rgb(36, 36, 38);
	
	--font-family: -apple-system, BlinkMacSystemFont, sans-serif;
	--smallest: max(1.3vmin, 12px);
	--small: max(1.6vmin, 16px);
	--medium: max(1.9vmin, 20px);
	--big: max(2.2vmin, 24px);
	--biggest: max(2.5vmin, 28px);
}

html {
	background-color: var(--colorgrey4);
}

a {
	color: var(--lightBlue);
	font-family: var(--font-family);
	font-weight: bold;
	margin: auto;
	word-wrap: break-word; /* Removes long word overflow */
}

a:hover {
	color: var(--darkBlue);
}

a:visited {
	color: var(--darkYellow);
}

a:visited:hover {
	color: var(--lightYellow);
}

#top {
	background-color: var(--colorgrey4);
	text-align: center;
	font-family: var(--font-family);
	font-size: var(--biggest);
	padding: max(2vmin, 8px);
}

body {
	background-color: var(--colorgrey4);
	color: var(--colorblack);
	font-family: var(--font-family);
	text-align: justify;
	padding: max(2vmin, 8px);
	margin: auto;
}

hr {
	border: 4px solid var(--colorgrey4);
	margin: 8px 0px;
}

iframe {
	width: min(60vw, 854px); /* 480p */ 
    height: min(33.75vw, 480px); /* 16:9 */
	margin: auto;
}

.media {
	display: block;
	margin: auto;
}

.section {
	font-family: var(--font-family);
	background-color: #fff;
	margin: min(2vmin, 8px);
	padding: min(2vmin, 16px);
}

.section_title {
	color: var(--lightBlue);
    font-size: var(--medium);
	margin: 16px 0px;
	font-weight: 600;
}

.section_text {
	color: var(--colorBlack);
    font-size: var(--smallest);
	margin: 8px 0px;
	font-weight: 600;
}

.need {
	font-family: var(--font-family);
	margin: auto;
	font-weight: 600;
	background-color: #ffffff;
	margin: 5% 0%;
}

.need_title.main {
	margin: 16px 0px;
	color: var(--lightRed);
	font-size: var(--medium);
}

.need_title {
	color: var(--lightGreen);
	font-size: var(--small);
}

.need_value.main {
	color: var(--darkRed);
	color: var(--colorblack);
}

.need_value {
	color: var(--colorBlack);
	font-size: var(--smallest);
}

.subsection {
	margin: max(2vmin, 8px) 0px;
}

.subsection_title {
	color: var(--lightGreen);
	font-size: var(--small);
}

.subsection_text {
	color: var(--colorBlack);
	font-size: var(--smallest);
	font-weight: 600;
}

#Referencias {
	color: var(--colorBlack);
	font-size: var(--smallest);
	font-family: var(--font-family);
	font-weight: 600;
}

li {
	padding: 4px; /**/
}

ol {
	padding: 0px max(4vmin, 16px);
}