/* twitter palette */
:root {
	--blue: #1DA1F2;
	--black: #14171A;
	--gray0: #657786;
	--gray1: #AAB8C2;
	--gray2: #E1E8ED;
	--gray3: #F5F8FA;
	--white: #FFFFFF;
	--black: #000000;
	--font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

}

html {
	background-color: var(--black);
	color: var(--gray2);
	font-family: var(--font-family);
	font-size: max(5vmin, 12px);
}

#top {
	margin: max(3vh, 16px);
	color: var(--gray2);
	font-size: max(3vmin, 24px);
	text-align: center;
}

a {
	color: var(--gray3);
	font-family: var(--font-family);
	font-weight: bold;
	text-decoration: none;
	margin: auto;
	word-wrap: break-word; /* Removes long word overflow */
}

a:hover {
	color: var(--blue);
	text-decoration: underline;
}

a:visited {
	color: var(--gray0);
}

a:visited:hover {
	color: var(--blue);
	text-decoration: underline;
}

/* Body */
body {
	color: var(--gray3);
	font-family: var(--font);
}

.media {
	display: block;
	margin: auto;
	padding: 16px;
	min-width: 50%;
	min-height: 100%;
}

.section {
	border:grey;
	margin: auto;
}

.section_title {
	color: var(--color2);
    font-size: 36px;
}

.section_text {
	color: var(--color1);
    font-size: 16px;
	padding: 0px 16px;
}

.need {
	font-family: var(--font);
	margin: auto;
}

.need_title {
	color: var(--color2);
	font-size: 24px;
	font-weight: bold;
}

.need_value {
	color: var(--color1);
	font-size: 16px;
	padding: 0px 16px;
}

.subsection_title {
	
}

.subsection_value {
	
}

/* https://material.io/design/color/dark-theme.html#properties */
