/* twitter palette */
:root {
	--blue: #1DA1F2;
	--gray0: #2f3336;
	--gray1: #657786;
	--gray2: #AAB8C2;
	--gray3: #E1E8ED;
	--gray4: #F5F8FA;
	--white: #FFFFFF;
	--black: #000000;
	--font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	
	--font-size-big: min(max(3vmin, 18px), 36px);
	--font-size-medium: min(max(2vmin, 16px), 32px);
	--font-size-small: min(max(1.3vmin, 12px), 24px);
}

html {
	background-color: var(--black);
	color: var(--gray2);
	font-family: var(--font-family);
	font-size: max(5vmin, 12px);
	max-width: 768px;
	margin: auto;
	justify-content: center;
}

/* Smartphones & Touchscreens */
@media (hover: none) and (pointer: coarse) {
	:root {
		--font-size-big: min(max(2.5vmin, 18px), 36px);
		--font-size-medium: min(max(2vmin, 16px), 32px);
		--font-size-small: min(max(1.3vmin, 12px), 24px);
	}
	html { max-width: 100%; }
}

/* Mouse */
@media (hover: hover) and (pointer: fine) {
	html { 
		max-width: 100vmin; 
		margin: auto;
	}
	:root {
		--font-size-big: 18px;
		--font-size-medium: 16px;
		--font-size-small: 12px;
	}
}

#top {
	color: var(--gray2);
	font-size: var(--font-size-big);
	text-align: center;
	margin: 20px;
}

#top a {
	font-size: var(--font-size-big);
}

a {
	color: var(--gray4);
	font-family: var(--font-family);
	font-weight: bold;
	text-decoration: none;
	margin: auto;
	word-wrap: break-word; /* Removes long word overflow */
}

a:hover {
	color: var(--blue);
	text-decoration: underline;
}

a:visited {
	color: var(--gray0);
}

a:visited:hover {
	color: var(--blue);
	text-decoration: underline;
}

/* Body */
body {
	color: var(--gray4);
	font-family: var(--font);
	padding: auto;
	margin: auto;
}

.to_top {
	display: none; /* Remove to top*/
}

.media {
	display: block;
	margin: auto;
	padding: 16px;
	min-width: 50%;
	min-height: 100%;
	max-width: 80%;
}

.section {
	border: max(1px, 0.3vmin) solid var(--gray0);
	margin: max(20px);
	display: block;
	justify-content: center;
}

.section_title {
	color: var(--blue);
    font-size: var(--font-size-big);
	margin: 20px;
}

.section_text {
	color: var(--gray4);
    font-size: var(--font-size-small);
	margin: 20px;
}

hr {
	display: none;
}

.need {
	font-size: var(--font-size-small);
	font-family: var(--font-family);
	font-weight: normal;
	margin: 20px;
	border: max(1px, 0.3vmin) solid var(--gray0);
	border-radius: max(14px, 0.5vmin);
}

.need_title {
	color: var(--blue);
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
	margin: inherit;
}

.need_value {
	color: var(--gray2);
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
	margin: inherit;
}

.subsection {
	font-size: var(--font-size-small);
	font-family: var(--font-family);
	font-weight: normal;
	margin: 20px;
	border: max(1px, 0.3vmin) solid var(--gray0);
	border-radius: max(14px, 0.5vmin);
}

.subsection_title {
	color: var(--blue);
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
	margin: inherit;
}

.subsection_text {
	color: var(--gray2);
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
	margin: inherit;
}

#Referencias {
	font-family: var(--font-family);
	font-size: var(--font-size-small);
}

li {
	padding: 4px;
}

ol {
	padding: 0px max(4vmin, 16px);
}

iframe {
	width: min(80vw, 427px); /* 480p */ 
    height: min(45vmin, 240px); /* 16:9 */
	margin: auto;
}